[options]
admin_passwd = ${ODOO_ADMIN_PASSWORD}
db_host = ${ODOO_DB_HOST}
db_port = ${ODOO_DB_PORT}
db_user = ${ODOO_DB_USER}
db_password = ${ODOO_DB_PASSWORD}
addons_path = ${ODOO_ADDONS_PATH}
data_dir = ${ODOO_DATA_DIR}
http_port = ${ODOO_HTTP_PORT}
gevent_port = ${ODOO_GEVENT_PORT}
http_interface = ${ODOO_HTTP_INTERFACE}
workers = ${ODOO_WORKERS}
proxy_mode = ${ODOO_PROXY_MODE}
log_level = ${ODOO_LOG_LEVEL}
limit_time_cpu = ${ODOO_LIMIT_TIME_CPU}
limit_time_real = ${ODOO_LIMIT_TIME_REAL}
dbfilter = ${ODOO_DB_FILTER}
dev_mode = ${ODOO_DEV_MODE}
default_productivity_apps = True
