[options]
admin_passwd = ${ODOO_ADMIN_PASSWORD}
db_host = ${ODOO_DB_HOST}
db_port = ${ODOO_DB_PORT}
db_user = ${ODOO_DB_USER}
db_password = ${ODOO_DB_PASSWORD}
${ODOO_DB_NAME_CONFIG}
addons_path = ${ODOO_ADDONS_PATH}
data_dir = ${ODOO_DATA_DIR}
http_port = ${ODOO_HTTP_PORT}
gevent_port = ${ODOO_GEVENT_PORT}
http_interface = ${ODOO_HTTP_INTERFACE}
workers = ${ODOO_WORKERS}
max_cron_threads = ${ODOO_MAX_CRON_THREADS}
proxy_mode = ${ODOO_PROXY_MODE}
list_db = ${ODOO_LIST_DB}
log_level = ${ODOO_LOG_LEVEL}
db_maxconn = ${ODOO_DB_MAXCONN}
limit_memory_soft = ${ODOO_LIMIT_MEMORY_SOFT}
limit_memory_hard = ${ODOO_LIMIT_MEMORY_HARD}
limit_request = ${ODOO_LIMIT_REQUEST}
limit_time_cpu = ${ODOO_LIMIT_TIME_CPU}
limit_time_real = ${ODOO_LIMIT_TIME_REAL}
dbfilter = ${ODOO_DB_FILTER}
dev_mode = ${ODOO_DEV_MODE}
default_productivity_apps = ${ODOO_DEFAULT_PRODUCTIVITY_APPS}
server_wide_modules = ${ODOO_SERVER_WIDE_MODULES}
smtp_server = ${ODOO_SMTP_SERVER}
smtp_port = ${ODOO_SMTP_PORT}
smtp_ssl = ${ODOO_SMTP_SSL}
smtp_user = ${ODOO_SMTP_USER}
smtp_password = ${ODOO_SMTP_PASSWORD}
email_from = ${ODOO_EMAIL_FROM}
from_filter = ${ODOO_FROM_FILTER}
